{% extends 'base.html' %} {% block content%}

<h2 class="ui dividing header">Todos os imóveis<a class="anchor"></a></h2>

<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img src="" />
    </div>
    <div class="content">
      <div class="header">Nome do imovel teste</div>
      <div class="meta">
        <a>Rua teste 123, Franca, SP</a>
      </div>
      <div class="description">
        Casa perto de muitos bares :)
      </div>
      <br />
      <div class="event">
        <div class="content">
          <div class="summary">
            Quartos: 2
          </div>
        </div>

        <div class="event">
          <div class="content">
            <div class="summary">
              M²: 200
            </div>
          </div>

          <div class="event">
            <div class="content">
              <div class="summary">
                Garagem: 2
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Banheiros: 2
              </div>
            </div>
          </div>
          <br />
          <div class="event">
            <div class="content">
              <div class="summary">
                Postado a 2 horas
              </div>
            </div>
          </div>
          <br />
          <div class="extra content">
            <div class="ui submit primary fluid button">Mais informações</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="" />
    </div>
    <div class="content">
      <div class="header">Nome do imovel teste</div>
      <div class="meta">
        <a>Rua teste 123, Franca, SP</a>
      </div>
      <div class="description">
        Casa perto de muitos bares :)
      </div>
      <br />
      <div class="event">
        <div class="content">
          <div class="summary">
            Quartos: 2
          </div>
        </div>

        <div class="event">
          <div class="content">
            <div class="summary">
              M²: 200
            </div>
          </div>

          <div class="event">
            <div class="content">
              <div class="summary">
                Garagem: 2
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Banheiros: 2
              </div>
            </div>
          </div>
          <br />
          <div class="event">
            <div class="content">
              <div class="summary">
                Postado a 2 horas
              </div>
            </div>
          </div>
          <br />
          <div class="extra content">
            <div class="ui submit primary fluid button">Mais informações</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="" />
    </div>
    <div class="content">
      <div class="header">Nome do imovel teste</div>
      <div class="meta">
        <a>Rua teste 123, Franca, SP</a>
      </div>
      <div class="description">
        Casa perto de muitos bares :)
      </div>
      <br />
      <div class="event">
        <div class="content">
          <div class="summary">
            Quartos: 2
          </div>
        </div>

        <div class="event">
          <div class="content">
            <div class="summary">
              M²: 200
            </div>
          </div>

          <div class="event">
            <div class="content">
              <div class="summary">
                Garagem: 2
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Banheiros: 2
              </div>
            </div>
          </div>
          <br />
          <div class="event">
            <div class="content">
              <div class="summary">
                Postado a 2 horas
              </div>
            </div>
          </div>
          <br />
          <div class="extra content">
            <div class="ui submit primary fluid button">Mais informações</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="" />
    </div>
    <div class="content">
      <div class="header">Nome do imovel teste</div>
      <div class="meta">
        <a>Rua teste 123, Franca, SP</a>
      </div>
      <div class="description">
        Casa perto de muitos bares :)
      </div>
      <br />
      <div class="event">
        <div class="content">
          <div class="summary">
            Quartos: 2
          </div>
        </div>

        <div class="event">
          <div class="content">
            <div class="summary">
              M²: 200
            </div>
          </div>

          <div class="event">
            <div class="content">
              <div class="summary">
                Garagem: 2
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Banheiros: 2
              </div>
            </div>
          </div>
          <br />
          <div class="event">
            <div class="content">
              <div class="summary">
                Postado a 2 horas
              </div>
            </div>
          </div>
          <br />
          <div class="extra content">
            <div class="ui submit primary fluid button">Mais informações</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="" />
    </div>
    <div class="content">
      <div class="header">Nome do imovel teste</div>
      <div class="meta">
        <a>Rua teste 123, Franca, SP</a>
      </div>
      <div class="description">
        Casa perto de muitos bares :)
      </div>
      <br />
      <div class="event">
        <div class="content">
          <div class="summary">
            Quartos: 2
          </div>
        </div>

        <div class="event">
          <div class="content">
            <div class="summary">
              M²: 200
            </div>
          </div>

          <div class="event">
            <div class="content">
              <div class="summary">
                Garagem: 2
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Banheiros: 2
              </div>
            </div>
          </div>
          <br />
          <div class="event">
            <div class="content">
              <div class="summary">
                Postado a 2 horas
              </div>
            </div>
          </div>
          <br />
          <div class="extra content">
            <div class="ui submit primary fluid button">Mais informações</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
