{% extends 'base.html' %} {% block content%}

<div class="ui inverted segment">
  <div class="ui inverted form">
    <div class="three fields">
      <div class="field">
        <label>Palavra chave</label>
        <input placeholder="Palavra chave" type="text" />
      </div>
      <div class="field">
        <label>Cidade</label>
        <input placeholder="Cidade" type="text" />
      </div>
      <div class="field">
        <label>Estado</label>
        <select>
          <option value="">Todos</option>
          <option value="1">SP</option>
          <option value="0">RJ</option>
        </select>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Quartos</label>
        <select>
          <option value="">Todos</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div class="field">
        <label>Preço</label>
        <input placeholder="120.000,00" type="text" />
      </div>
    </div>
    <div class="ui submit primary fluid button">Pesquisar</div>
  </div>
</div>

<h2 class="ui dividing header">Ultimos imóveis<a class="anchor"></a></h2>

<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img src="" />
    </div>
    <div class="content">
      <div class="header">Nome do imovel teste</div>
      <div class="meta">
        <a>Rua teste 123, Franca, SP</a>
      </div>
      <div class="description">
        Casa perto de muitos bares :)
      </div>
      <br />
      <div class="event">
        <div class="content">
          <div class="summary">
            Quartos: 2
          </div>
        </div>

        <div class="event">
          <div class="content">
            <div class="summary">
              M²: 200
            </div>
          </div>

          <div class="event">
            <div class="content">
              <div class="summary">
                Garagem: 2
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Banheiros: 2
              </div>
            </div>
          </div>
          <br />
          <div class="event">
            <div class="content">
              <div class="summary">
                Postado a 2 horas
              </div>
            </div>
          </div>
          <br />
          <div class="extra content">
            <div class="ui submit primary fluid button">Mais informações</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="" />
    </div>
    <div class="content">
      <div class="header">Nome do imovel teste</div>
      <div class="meta">
        <a>Rua teste 123, Franca, SP</a>
      </div>
      <div class="description">
        Casa perto de muitos bares :)
      </div>
      <br />
      <div class="event">
        <div class="content">
          <div class="summary">
            Quartos: 2
          </div>
        </div>

        <div class="event">
          <div class="content">
            <div class="summary">
              M²: 200
            </div>
          </div>

          <div class="event">
            <div class="content">
              <div class="summary">
                Garagem: 2
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Banheiros: 2
              </div>
            </div>
          </div>
          <br />
          <div class="event">
            <div class="content">
              <div class="summary">
                Postado a 2 horas
              </div>
            </div>
          </div>
          <br />
          <div class="extra content">
            <div class="ui submit primary fluid button">Mais informações</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="" />
    </div>
    <div class="content">
      <div class="header">Nome do imovel teste</div>
      <div class="meta">
        <a>Rua teste 123, Franca, SP</a>
      </div>
      <div class="description">
        Casa perto de muitos bares :)
      </div>
      <br />
      <div class="event">
        <div class="content">
          <div class="summary">
            Quartos: 2
          </div>
        </div>

        <div class="event">
          <div class="content">
            <div class="summary">
              M²: 200
            </div>
          </div>

          <div class="event">
            <div class="content">
              <div class="summary">
                Garagem: 2
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Banheiros: 2
              </div>
            </div>
          </div>
          <br />
          <div class="event">
            <div class="content">
              <div class="summary">
                Postado a 2 horas
              </div>
            </div>
          </div>
          <br />
          <div class="extra content">
            <div class="ui submit primary fluid button">Mais informações</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="" />
    </div>
    <div class="content">
      <div class="header">Nome do imovel teste</div>
      <div class="meta">
        <a>Rua teste 123, Franca, SP</a>
      </div>
      <div class="description">
        Casa perto de muitos bares :)
      </div>
      <br />
      <div class="event">
        <div class="content">
          <div class="summary">
            Quartos: 2
          </div>
        </div>

        <div class="event">
          <div class="content">
            <div class="summary">
              M²: 200
            </div>
          </div>

          <div class="event">
            <div class="content">
              <div class="summary">
                Garagem: 2
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Banheiros: 2
              </div>
            </div>
          </div>
          <br />
          <div class="event">
            <div class="content">
              <div class="summary">
                Postado a 2 horas
              </div>
            </div>
          </div>
          <br />
          <div class="extra content">
            <div class="ui submit primary fluid button">Mais informações</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="" />
    </div>
    <div class="content">
      <div class="header">Nome do imovel teste</div>
      <div class="meta">
        <a>Rua teste 123, Franca, SP</a>
      </div>
      <div class="description">
        Casa perto de muitos bares :)
      </div>
      <br />
      <div class="event">
        <div class="content">
          <div class="summary">
            Quartos: 2
          </div>
        </div>

        <div class="event">
          <div class="content">
            <div class="summary">
              M²: 200
            </div>
          </div>

          <div class="event">
            <div class="content">
              <div class="summary">
                Garagem: 2
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Banheiros: 2
              </div>
            </div>
          </div>
          <br />
          <div class="event">
            <div class="content">
              <div class="summary">
                Postado a 2 horas
              </div>
            </div>
          </div>
          <br />
          <div class="extra content">
            <div class="ui submit primary fluid button">Mais informações</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
