/* html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  justify-content: center;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
} */
