{% load static %}

<div class="ui menu inverted">
      <a href="#" class="header item">
          Django Imóveis
        </a>
    <a href="{% url 'index' %}"
      {% if request.path == '/' %}  
      class="active item"    
      {% else %}
      class="item"    
      {% endif %}
    >
      Home
    </a>
    <a 
    {% if 'catalog' in request.path  %}  
        class="active item"    
        {% else %}
        class="item"    
        {% endif %}
    >
      Catalogo
    </a>
    <a  class="item"
        href="{% url 'about' %}"
        {% if 'about' in request.path  %}  
        class="item active"    
        {% else %}
        class="item"    
        {% endif %}
    >
      Sobre
    </a>
    <div class="right menu">
      <div class="item">
          <div class="ui button">Registrar</div>
      </div>
      <div class="item">
          <div class="ui primary button">Entrar</div>
      </div>
    </div>
</div>
